.container {
  padding-top: 30px;
  width: 1200px;
  margin: auto;
}

.userDetails {
  display: flex;
  align-items: center;
}

.image {
  height: 200px;
}

.info {
  width: 100%;
  margin-left: 10px;
  min-height: 200px;
}

.address {
  margin: 20px 10px;
}

.info p {
  margin-top: 3px;
}

.history {
  padding: 50px 20px;
}

.friendsH2 {
  padding: 10px 20px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 10px;
}

.user {
  width: 25%;
  min-height: 280px;
}

#image {
  width: 100%;
}

.userContent {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  cursor: pointer;
}

.description {
  padding-left: 10px;
  padding-top: 15px;
}

#name {
  font-weight: 700;
}

.breadcrumb {
  margin: 4px 8px;
  display: inline-block;
}

.spinner {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
