.user-details {
  display: flex;
  align-items: center;
}

.image {
  height: 200px;
}

.info {
  width: 100%;
  margin-left: 10px;
  min-height: 200px;
}

.address {
  margin: 20px 10px;
}

.info p {
  margin-top: 3px;
}

.history {
  padding: 50px 20px;
}

.friends-h2 {
  padding: 10px 20px;
}

.users {
  margin-left: 10px;
}

#image {
  width: 100%;
}

.description {
  padding-left: 10px;
  padding-top: 15px;
}

#name {
  font-weight: 700;
}

.breadcrumb {
  margin: 4px 8px;
  display: inline-block;
}
