<div class="container">
    <div class="spinner" *ngIf="loadingUser"></div>
    <div class="user-details" *ngIf="userDetails">
        <div>
            <img class="image" [src]="userDetails.imageUrl" alt="">
        </div>
        <div class="info">
            <fieldset>
                <legend>Info</legend>
                <strong>{{ userDetails.prefix }} {{ userDetails.name }} {{ userDetails.lastName }}</strong>
                <p>{{ userDetails.title }}</p>
                <br>
                <p>Email: {{ userDetails.email }}</p>
                <p>Ip Address: {{ userDetails.ip }}</p>
                <p>Ip Address: {{ userDetails.ip }}</p>
                <p>Job Area: {{ userDetails.jobArea}}</p>
                <p>Job Type: {{ userDetails.jobType}}</p>
            </fieldset>
        </div>
        <div class="address">
            <fieldset>
                <legend>Address</legend>
                <strong>{{ userDetails.company.name }} {{ userDetails.company.suffix }}</strong>
                <p>City: {{ userDetails.address.city }}</p>
                <p>Country: {{ userDetails.address.country }} </p>
                <p>State: {{ userDetails.address.state }}</p>
                <p>Street Address: {{ userDetails.address.streetAddress }}</p>
                <p>ZIP: {{ userDetails.address.zipCode }}</p>
            </fieldset>
        </div>
    </div>
    <div class="history">
        <a routerLink="/" class="breadcrumb">Home</a>
        <span>></span>
        <ng-container *ngFor="let breadCrumb of breadCrumbs; let i = index">
            <a class="breadcrumb" [routerLink]="'/user/' + breadCrumb.id" (click)="onBreadCrumbClick(breadCrumb.id)">
                {{ breadCrumb.fullname}}
            </a>
            <span *ngIf="i !== breadCrumbs.length - 1">></span>
        </ng-container>
    </div>
    <h2 class="friends-h2">Friends:</h2>
    <div class="friends" appInfiniteScroll (loadMore)="getFriends()">
        <div class="users">
            <div class="user" *ngFor="let friend of userFriends; let i = index" #item (click)="onClick(friend.id)">
                <div class="user-content">
                    <div class="image">
                        <img id="image" [src]="friend.imageUrl" alt="">
                    </div>
                    <div class="description">
                        <p id="name">{{ friend.prefix }} {{ friend.name }} {{ friend.lastName }}</p>
                        <p>{{ friend.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner" *ngIf="loadingFriends"></div>