<div class="container" appInfiniteScroll (loadMore)="getUsers()">
    <div class="users">
        <div class="user" *ngFor="let user of users; let i = index" #item>
            <div class="userContent" (click)="onUserClick(user.id)">
                <div class="image">
                    <img id="image" [src]="user.imageUrl" alt="">
                </div>
                <div class="description">
                    <p id="name">{{ user.prefix }} {{ user.name }} {{ user.lastName }}</p>
                    <p>{{ user.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner" *ngIf="loading"></div>